<h1>Da Burger Application</h1>

<h2>Burgers to be Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/devour-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Type of Burger:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devo">Devour?</label><br>
    <input type="radio" name="devour" value="0" checked> Eaten!<br>
    <input type="radio" name="devour" value="1"> To Be Eaten!!
  </div>

  <button type="submit">Add Burger</button>
</form>
