
.jumbotron {
  /*margin-top: 20px;*/
  background-image: url("https://media.giphy.com/media/qf7u3xRVQWEKI/giphy.gif");
  background-size: cover;
  color: #f58d42;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    list-style-type: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    /*padding: 5px;
    margin: 5px;*/
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }